<div class="container-principal">
	<div class="container-camiones">
		<div class="cont-text">
			<p class="camiones">Camión:</p>

			<p class="matriculas-camiones">13515125</p>

			<button class="btn-cancel truck btn-rounded-blue">Cancel</button>
			<button class="btn-set truck btn-rounded-blue">Set</button>
		</div>
	</div>
	<div class="container-bottom">
		<app-tabledata></app-tabledata>
	</div>
	<div class="input-csv">
		<label class="" for="file_input">Upload file</label>
		<input class="control" type="file" file-reader="fileContent" accept=".csv, .json" />
	</div>
</div>
