 /* general styling */
 .container-principal {
   justify-content: center;
   align-items: center;
   flex-direction: column;

   .container-camiones {
     margin-top: 5px;
     display: flex;
     align-items: center;
     justify-content: center;

     .cont-text {
       justify-content: center;
       display: flex;
       align-items: baseline;

       .camiones {
         font-size: 50px;
         color: orange;
       }

       .matriculas-camiones {
         color: white;
         font-size: 35px;
         margin-left: 5px;
       }
       .truck{
         align-self: center;
       }
       .btn-cancel-truck {

       }
       .btn-set-truck{

       }
       .input-csv {
        align-self: center;
        color: rgb(255, 255, 255);
        display: flex;
        .control{

        }
       }
     }
   }

   .container-bottom {
   }

 }


