<div class="container-principal">
	<div class="container-camiones">
		<div class="cont-text">
			<p class="camiones">Camión:</p>

			<p class="matriculas-camiones">{{ hueco }}</p>

			<button class="btn-cancel truck btn-rounded-blue" (click)="cancelTruck()">
				Cancel
			</button>
			<button class="btn-set truck btn-rounded-blue" (click)="setTruck()">
				Set
			</button>
			<div class="input-csv">
				<app-filedrop></app-filedrop>
			</div>
		</div>
	</div>
	<div class="container-bottom">
		<app-tabledata
			(selection)="addSelection($event)"
			[file]="file"
		></app-tabledata>
	</div>
</div>
