/* You can add global styles to this file, and also import other style files */
@import 'reset.css';
@import '../../../node_modules/@swimlane/ngx-datatable/index.scss';
@import '../../../node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '../../../node_modules/@swimlane/ngx-datatable/themes/dark.scss';
@import '../../../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

.datatable-header-cell{
}
:root {
	--main-bg-color: #393d4d;
	--container-darker-color: #464b5e;
	--container-light-color: #555b73;
	--container-lighter-color: #5f657d;
	--btn-line-orange: #ff7700;
	--btn-line-blue: #5b81eb;
	--btn-line-blue-darker: #3665e7;

	background-color: var(--main-bg-color);
  button {
    height: 50px;
    width: 70px;
    margin: 10px;
  }

  .btn-square-orange {
    background-color: var(--container-lighter-color);
    color: white;
    border: 1px solid #ff7700;
  }

  .btn-square-orange:hover {
    box-shadow: 3px 3px 20px black;
    background-color: #ff7700;
    cursor: pointer;
  }

  .btn-rounded-blue {
    background-color: var(--btn-line-blue);
    border: none;
    border-radius: 10px;
    color: white;
  }

  .btn-rounded-blue:hover {
    box-shadow: 5px 5px 20px black;
    background-color: var(--btn-line-blue-darker);
    cursor: pointer;
  }

}
