.main-container {
  height: 100%;
  .top-container {
    display: flex;
    border-bottom: 0.2vh solid var(--btn-line-blue);

    .top-left {
      margin-left: 20px;
      min-width: 270px;
      min-height: 80px;
      max-height: 100px;


      .img-logo {
        width: 200px;
        min-height: 80px;
        background-image: url("../assets/img/lm_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

  }

}

@media screen and (max-width:500px) {
  .main-container {
    .top-left {
      border: none;
      min-width: 100px;
      min-height: 100px;

      .img-logo {
        width: 50px;
        height: 50px;
        background-image: url("../assets/img/menu.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

  }

}


@media screen and (min-width:750px) and (max-width:1000px) {}
